
// Color
$bar_blue: #0B82DD;
$header-color: #333;
$label-grey: #575757;
$body-copy-font-family: "Roboto", Arial, Helvetica, sans-serif;
$body-copy-font-size: 14px;


//Breakpoint
$large-contain: 1600px;
$large-contain-padding: 0 10%;
$medium-contain-padding: 0 30px;
$medium-contain: 1280px;
$small-contain: 780px;

$breakpoints: (
  'phone': 414px,
  'tablet': 768px,
  'medium': 1100px,
  'large': 1600px
);

//Griffith Branding
$griffith-heading: "Jotia", Arial;
$griffith-subheading: "Copernicus", Arial;
$griffith-body: "FoundrySterling", Arial;
$griffith-red: #c02424;
